.element {
    position: relative;
    float: right;
    width: 100%;
   /* height: 600px;*/
    margin: 0 0 10px -110px;
}
.sticky-content {
    float: left;
    width: 319px;
   /* height: 300px;*/
    margin: 0 10px 0 0;
    background: transparent;
}

.sticky-height {
   /* height: 600px;*/
    margin-left: 99.99%;
    background: transparent;
}